.In-Specie-Page-Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.In-specie-Display-Wrapper {
  border-right: 1px solid black;
  min-height: 80vh;
}

.MF-input-Wrapper {
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.MF-input-Wrapper input {
  padding-right: 0;
  width: 60%;
}

.MF-input-Wrapper select {
  grid-column: span 2;
  width: 30%;
}

.In-Specie-header-Wrapper {
  display: flex;
  justify-content: center;
}

.investment-edit-wrapper h2 {
  display: flex;
  justify-content: center;
}
