.In-Specie-Page-Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.In-specie-Display-Wrapper {
  border-right: 1px solid black;
  min-height: 80vh;
}

.MF-input-Wrapper {
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.MF-input-Wrapper input {
  padding-right: 0;
  width: 60%;
}

.MF-input-Wrapper select {
  grid-column: span 2;
  width: 30%;
}

.In-Specie-header-Wrapper {
  display: flex;
  justify-content: center;
}

.investment-edit-wrapper h2 {
  display: flex;
  justify-content: center;
}

.investment-table__MFs {
  border: 1px solid black;
  margin-top: 25px;
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
}

.InSpecie-Table_wrapper table {
  border: 1px solid black;
  margin-top: 25px;
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
}

.InSpecie-Table_wrapper table th {
  padding: 10px;
}

.InSpecie-Table_wrapper table tbody tr td:nth-child(1) {
  width: 15px;
}

.InSpecie-Table_wrapper table td {
  border: 1px solid black;
  padding: 5px;
}

.InSpecie-Shares_table tbody tr td:nth-child(2) {
  width: 12%;
}
.InSpecie-Shares_table tbody tr td:nth-child(3) {
  width: 43%;
}

.InSpecie-MF_table tbody tr td:nth-child(2) {
  width: 55%;
}
