.investmentList-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Tab1 {
  list-style-type: none;
  cursor: pointer;
  width: 25%;
  text-align: center;
  border: 1px solid black;
}

.investment-searchdiv {
  margin-bottom: 15px;
}

.investment-Checkbox {
  color: red;
  border: 3px solid black;
}

.Two-fr-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.Investment-select-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  border-right: 1px solid black;
  /* min-height: 100vh; */
  height: 100vh;
  overflow: scroll;
}

.Investment-select-wrapper1 {
  padding-top: 25px;
  border-right: 1px solid black;
}

.Investment-Selected-Wrapper {
  width: 80%;
  margin: 25px auto;
}
