.investmentList-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Tab1 {
  list-style-type: none;
  cursor: pointer;
  width: 25%;
  text-align: center;
  border: 1px solid black;
}

.investment-searchdiv {
  margin-bottom: 15px;
}

.investment-Checkbox {
  color: red;
  border: 3px solid black;
}
